@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-gray-900 text-gray-200
}

.bg{
    background-image: url(../public/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}